* Updated mysql table
* Get lat/long

### Relevant python notebooks in Dropbox/CRBGUAM

* YigoBarrels/YigoBarrels.ipynb -  Trap Catch Comparison Between Pan and Minibuckets; reads data from mysql table
* YigoBarrelObs/YigoBarrelObs.ipynb - Entitled 'Best Way to Access Data in the Guam Coconut Rhinoceros Project Database';
Calculates daily trap rates
* Epicollect Yigo Barrels/crb_yigo_barrel_epicollect.ipynb - downloads EpiCollect data
* barrelSubstrate/barrelSubstrate.ipynb - reads mysql using conventional pymysql methods

In [10]:
%matplotlib inline
import pymysql
import pandas as pd
import matplotlib as plt
import time
import pytz

##Get data from MySQL table

In [11]:
conn = pymysql.connect(host='mysql.guaminsects.net',user='readonlyguest',passwd='readonlypassword',db='oryctes')
sql = """
SELECT * 
FROM YigoBarrelObs
WHERE endDate = '2015-02-05'
ORDER BY barrelID;
"""
df_mysql = pd.io.sql.read_sql(sql, conn)
df_mysql

,id,barrelID,trapType,lure,uvled,funnel,substrate,startDate,endDate,males,females,notes
0,1974,1,P,y,y,n,y,2015-01-28,2015-02-05,0,1,
1,1975,2,P,y,y,n,y,2015-01-28,2015-02-05,2,4,
2,1976,3,P,y,y,n,y,2015-01-28,2015-02-05,0,1,
3,1977,4,P,y,y,n,n,2015-01-28,2015-02-05,2,1,
4,1978,5,P,y,y,n,y,2015-01-28,2015-02-05,1,0,
5,1979,6,P,y,y,n,y,2015-01-28,2015-02-05,0,0,
6,1980,7,P,y,y,n,n,2015-01-28,2015-02-05,1,1,
7,1981,8,P,y,y,n,n,2015-01-28,2015-02-05,0,0,
8,1982,9,P,y,y,n,y,2015-01-28,2015-02-05,0,1,
9,1983,10,P,y,y,n,y,2015-01-28,2015-02-05,2,0,
10,1984,11,P,y,y,n,n,2015-01-28,2015-02-05,0,0,
11,1985,12,P,y,y,n,n,2015-01-28,2015-02-05,1,0,
12,1986,13,P,y,y,n,n,2015-01-28,2015-02-05,0,1,
13,1987,14,P,y,y,n,y,2015-01-28,2015-02-05,3,4,
14,1988,15,P,y,y,n,n,2015-01-28,2015-02-05,1,1,
15,1989,16,P,y,y,n,n,2015-01-28,2015-02-05,1,0,
16,1990,17,P,y,y,n,n,2015-01-28,2015-02-05,0,0,
17,1991,18,P,y,y,n,y,2015-01-28,2015-02-05,0,2,
18,1992,19,P,y,y,n,n,2015-01-28,2015-02-05,0,1,
19,1993,20,P,y,y,n,n,2015-01-28,2015-02-05,0,0,
20,1994,21,P,y,y,n,y,2015-01-28,2015-02-05,0,1,
21,1995,22,P,y,y,n,n,2015-01-28,2015-02-05,0,2,
22,1996,23,P,y,y,n,n,2015-01-28,2015-02-05,2,2,
23,1997,24,P,y,y,n,n,2015-01-28,2015-02-05,0,1,
24,1998,25,P,y,y,n,n,2015-01-28,2015-02-05,2,1,
25,1999,26,P,y,y,n,y,2015-01-28,2015-02-05,1,0,
26,2000,27,P,y,y,n,y,2015-01-28,2015-02-05,0,1,
27,2001,28,P,y,y,n,y,2015-01-28,2015-02-05,1,1,
28,2002,29,P,y,y,n,n,2015-01-28,2015-02-05,0,2,
29,2003,30,P,y,y,n,y,2015-01-28,2015-02-05,0,0,
30,2004,31,P,y,y,n,n,2015-01-28,2015-02-05,1,0,

##Get data from EpiCollect

In [12]:
project_key = 'ahZzfmVwaWNvbGxlY3RzZXJ2ZXItaHJkchQLEgdQcm9qZWN0GICAgMi21YQLDA'
csv_url = 'http://epicollectserver.appspot.com/listEntriesCSV.csv?projectKey=' + project_key
df_epi = pd.read_csv(csv_url, parse_dates=['dateCreated'], index_col=['dateCreated'])
#excluded_columns = ['key', 'latitude', 'longitude', 'altitude', 'deviceId', 'entryId', 'lastEdited', 'timeUploaded', 'projectName',
#                    'photo', 'Unnamed: 15']
excluded_columns = ['key', 'altitude', 'deviceId', 'entryId', 'lastEdited', 'timeUploaded', 'projectName',
                    'photo', 'Unnamed: 15']
df_epi = df_epi.drop(excluded_columns, axis=1)
df_epi.index = df_epi.index.tz_localize('UTC')
df_epi.index = df_epi.index.tz_convert('Pacific/Guam')
df_epi.index = df_epi.index.date
df_epi = df_epi.sort()
df_epi.to_csv('crb_yigo_barrel_traps.csv')

In [13]:
df_epi_new = df_epi[df_epi.index>max(df_mysql.endDate)]
df_epi_new = df_epi_new.drop(['latitude','longitude'], axis=1)
df_epi_new

            barrelID  males  females note
2015-02-12         9      0        0  NaN
2015-02-12        15      0        1  NaN
2015-02-12        25      1        1  NaN
2015-02-12        20      0        0  NaN
2015-02-12        11      0        0  NaN
2015-02-12        17      0        0  NaN
2015-02-12        14      1        2  NaN
2015-02-12        28      0        1  NaN
2015-02-12        30      0        3  NaN
2015-02-12        26      0        0  NaN
2015-02-12        10      0        0  NaN
2015-02-12         3      0        1  NaN
2015-02-12        18      1        1  NaN
2015-02-12         5      0        1  NaN
2015-02-12        31      1        1  NaN
2015-02-12         4      1        4  NaN
2015-02-12        16      0        0  NaN
2015-02-12        27      0        0  NaN
2015-02-12         6      1        0  NaN
2015-02-12        19      0        0  NaN
2015-02-12        13      1        0  NaN
2015-02-12        12      3        1  NaN
2015-02-12         4      0        0  NaN
2015-02-12        22      0        3  NaN
2015-02-12         8      0        0  NaN
2015-02-12         7      1        1  NaN
2015-02-12         2      0        2  NaN
2015-02-12        29      0        0  NaN
2015-02-12        21      0        0  NaN
2015-02-12        23      4        2  NaN
...              ...    ...      ...  ...
2015-04-30        11      0        0  NaN
2015-04-30        26      1        1  NaN
2015-04-30         2      0        0  NaN
2015-04-30        22      0        1  NaN
2015-04-30        24      1        1  NaN
2015-04-30        16      0        1  NaN
2015-04-30        13      0        0  NaN
2015-04-30         9      0        0  NaN
2015-04-30        19      0        1  NaN
2015-04-30        10      1        0  NaN
2015-04-30        15      0        1  NaN
2015-04-30         6      0        0  NaN
2015-04-30        30      0        0  NaN
2015-04-30        25      0        0  NaN
2015-04-30         7      1        1  NaN
2015-04-30        12      1        0  NaN
2015-04-30        18      1        1  NaN
2015-04-30        31      1        1  NaN
2015-04-30        23      0        0  NaN
2015-04-30         3      3        4  NaN
2015-04-30        21      2        1  NaN
2015-04-30        29      1        2  NaN
2015-04-30        27      0        1  NaN
2015-04-30         1      0        0  NaN
2015-04-30         4      0        0  NaN
2015-04-30        20      0        0  NaN
2015-04-30         8      2        1  NaN
2015-04-30        14      0        0  NaN
2015-04-30         5      3        2  NaN
2015-04-30        17      0        0  NaN

[366 rows x 4 columns]

##Update MySQL table 'YigoBarrelObs'

####Helper procedures

In [14]:
def getStartDate(collectionDate):
# Returns a string containing previous collection date in EpiCollect table
  startDate = max(df_epi.index[df_epi.index<collectionDate])
  return startDate.strftime('%Y-%m-%d')

In [15]:
# Make a lookup table and function so that we can get the value of the 
# 'substrate' column from the last collection date

df_substrate = df_mysql[df_mysql.endDate==max(df_mysql.endDate)]
df_substrate = df_mysql[['barrelID', 'substrate']]
def getSubstrate(barrelID):
    return df_substrate.substrate[df_substrate.barrelID==barrelID].values[0]

In [16]:
def replaceLastOccurrence(mystring, mysubstring, replacement):
    k = mystring.rfind(mysubstring)
    new_string = mystring[:k] + replacement + mystring[k+1:]
    return new_string

####Example SQL statement for inserting records
```
INSERT INTO YigoBarrelObs (barrelID, trapType, lure, uvled, funnel, substrate, startDate, endDate, males, females, notes)
VALUES
(10,'P','y','y','y','y','2014-08-31','2014-09-08',0,0,''),
(11,'P','y','y','y','n','2014-08-31','2014-09-08',4,2,'');
```

####Generate SQL as a string

Note: could probably do this easier using df.to_sql(if_exists='append')

In [ ]:
s = 'INSERT INTO YigoBarrelObs '
s += '(barrelID, trapType, lure, uvled, funnel, substrate, startDate, endDate, males, females, notes)\n'
s += 'VALUES\n'

for index, row in df_epi_new.iterrows():
    startDate = getStartDate(index)
    endDate = index.strftime('%Y-%m-%d')
    substrate = getSubstrate(row.barrelID)
    myvalues = (row.barrelID, substrate, startDate, endDate, row.males, row.females, row.note)
    newline = "(%d,'P','y','y','y','%s','%s','%s',%d,%d,'%s'),\n" % myvalues
    s += newline

# Find last comma and replace with semicolon
s = replaceLastOccurrence(mystring=s, mysubstring=',', replacement=';')
print(s)

In [24]:
f = open("insertObs.sql", "w")
f.write(s)
f.close()

####Execute SQL -DID NOT WORK, BUT UPLOADING THE ABOVE SQL IN PHPMYADMIN DID WORK???

In [18]:
conn = pymysql.connect(host='mysql.guaminsects.net',user='aubreymoore',passwd='canada12',db='oryctes')
cursor = conn.cursor()
cursor.execute(s)
cursor.close()
conn.close()

####Create MySQL table 'YigoBarrelLocations'

Must use pandas >=0.16 for this or there will be a loss of precision.

In [19]:
#from sqlalchemy.dialects.mysql import DOUBLE
df_locs = df_epi[df_epi.index==min(df_epi.index)]
df_locs.reset_index(inplace=True)
df_locs = df_locs[['barrelID', 'latitude', 'longitude']]
df_locs = df_locs.set_index('barrelID')
df_locs
conn = pymysql.connect(host='mysql.guaminsects.net',user='aubreymoore',passwd='canada12',db='oryctes')
#df_locs.to_sql(con=conn, name='YigoBarrelLocations', flavor='mysql', if_exists='replace', dtype={'latitude':DOUBLE})
df_locs.to_sql(con=conn, name='YigoBarrelLocations', flavor='mysql', if_exists='replace')

In [20]:
conn = pymysql.connect(host='mysql.guaminsects.net',user='readonlyguest',passwd='readonlypassword',db='oryctes')
sql = 'SELECT * FROM YigoBarrelLocations;'
pd.io.sql.read_sql(sql, conn)

    barrelID   latitude   longitude
0         31  13.528873  144.874305
1          7  13.532839  144.873886
2          2  13.533570  144.871631
3          4  13.532723  144.871150
4         19  13.530503  144.871402
5         27  13.528861  144.870642
6         30  13.528853  144.873485
7         20  13.530413  144.872234
8          6  13.532695  144.872923
9         14  13.531208  144.871205
10        21  13.530550  144.873102
11        15  13.531218  144.872170
12         8  13.532840  144.874704
13         9  13.531969  144.870779
14        12  13.532066  144.873422
15        25  13.529716  144.872750
16         1  13.533522  144.870752
17         5  13.532759  144.871897
18        29  13.528877  144.872345
19        17  13.531268  144.873924
20        22  13.530578  144.874197
21        13  13.531921  144.874489
22         3  13.533507  144.874842
23        28  13.528878  144.871659
24        11  13.531941  144.872382
25        26  13.529826  144.874096
26        10  13.532147  144.871810
27        18  13.530595  144.870708
28        16  13.531306  144.873112
29        23  13.530034  144.870936
30        24  13.529760  144.872243

In [21]:
pd.version.version

'0.16.0'

In [22]:
s

"INSERT INTO YigoBarrelObs (barrelID, trapType, lure, uvled, funnel, substrate, startDate, endDate, males, females, notes)\nVALUES\n(9,'P','y','y','y','y','2015-02-05','2015-02-12',0,0,'nan'),\n(15,'P','y','y','y','n','2015-02-05','2015-02-12',0,1,'nan'),\n(25,'P','y','y','y','n','2015-02-05','2015-02-12',1,1,'nan'),\n(20,'P','y','y','y','n','2015-02-05','2015-02-12',0,0,'nan'),\n(11,'P','y','y','y','n','2015-02-05','2015-02-12',0,0,'nan'),\n(17,'P','y','y','y','n','2015-02-05','2015-02-12',0,0,'nan'),\n(14,'P','y','y','y','y','2015-02-05','2015-02-12',1,2,'nan'),\n(28,'P','y','y','y','y','2015-02-05','2015-02-12',0,1,'nan'),\n(30,'P','y','y','y','y','2015-02-05','2015-02-12',0,3,'nan'),\n(26,'P','y','y','y','y','2015-02-05','2015-02-12',0,0,'nan'),\n(10,'P','y','y','y','y','2015-02-05','2015-02-12',0,0,'nan'),\n(3,'P','y','y','y','y','2015-02-05','2015-02-12',0,1,'nan'),\n(18,'P','y','y','y','y','2015-02-05','2015-02-12',1,1,'nan'),\n(5,'P','y','y','y','y','2015-02-05','2015-02-12',0,1,'nan'),\n(31,'P','y','y','y','n','2015-02-05','2015-02-12',1,1,'nan'),\n(4,'P','y','y','y','n','2015-02-05','2015-02-12',1,4,'nan'),\n(16,'P','y','y','y','n','2015-02-05','2015-02-12',0,0,'nan'),\n(27,'P','y','y','y','y','2015-02-05','2015-02-12',0,0,'nan'),\n(6,'P','y','y','y','y','2015-02-05','2015-02-12',1,0,'nan'),\n(19,'P','y','y','y','n','2015-02-05','2015-02-12',0,0,'nan'),\n(13,'P','y','y','y','n','2015-02-05','2015-02-12',1,0,'nan'),\n(12,'P','y','y','y','n','2015-02-05','2015-02-12',3,1,'nan'),\n(4,'P','y','y','y','n','2015-02-05','2015-02-12',0,0,'nan'),\n(22,'P','y','y','y','n','2015-02-05','2015-02-12',0,3,'nan'),\n(8,'P','y','y','y','n','2015-02-05','2015-02-12',0,0,'nan'),\n(7,'P','y','y','y','n','2015-02-05','2015-02-12',1,1,'nan'),\n(2,'P','y','y','y','y','2015-02-05','2015-02-12',0,2,'nan'),\n(29,'P','y','y','y','n','2015-02-05','2015-02-12',0,0,'nan'),\n(21,'P','y','y','y','y','2015-02-05','2015-02-12',0,0,'nan'),\n(23,'P','y','y','y','n','2015-02-05','2015-02-12',4,2,'nan'),\n(24,'P','y','y','y','n','2015-02-05','2015-02-12',1,1,'nan'),\n(14,'P','y','y','y','y','2015-02-12','2015-02-13',0,0,'nan'),\n(23,'P','y','y','y','n','2015-02-12','2015-02-13',0,0,'nan'),\n(30,'P','y','y','y','y','2015-02-12','2015-02-13',2,0,'nan'),\n(26,'P','y','y','y','y','2015-02-12','2015-02-13',0,0,'nan'),\n(19,'P','y','y','y','n','2015-02-12','2015-02-13',0,0,'nan'),\n(21,'P','y','y','y','y','2015-02-12','2015-02-13',0,0,'nan'),\n(31,'P','y','y','y','n','2015-02-12','2015-02-13',0,0,'nan'),\n(1,'P','y','y','y','y','2015-02-12','2015-02-13',0,0,'nan'),\n(9,'P','y','y','y','y','2015-02-12','2015-02-13',0,0,'nan'),\n(3,'P','y','y','y','y','2015-02-12','2015-02-13',0,1,'nan'),\n(25,'P','y','y','y','n','2015-02-12','2015-02-13',0,0,'nan'),\n(27,'P','y','y','y','y','2015-02-12','2015-02-13',0,0,'nan'),\n(2,'P','y','y','y','y','2015-02-12','2015-02-13',0,1,'nan'),\n(29,'P','y','y','y','n','2015-02-12','2015-02-13',0,0,'nan'),\n(12,'P','y','y','y','n','2015-02-12','2015-02-13',0,0,'nan'),\n(20,'P','y','y','y','n','2015-02-12','2015-02-13',0,0,'nan'),\n(13,'P','y','y','y','n','2015-02-12','2015-02-13',0,0,'nan'),\n(6,'P','y','y','y','y','2015-02-12','2015-02-13',1,0,'nan'),\n(4,'P','y','y','y','n','2015-02-12','2015-02-13',0,0,'nan'),\n(8,'P','y','y','y','n','2015-02-12','2015-02-13',0,0,'nan'),\n(18,'P','y','y','y','y','2015-02-12','2015-02-13',0,0,'nan'),\n(22,'P','y','y','y','n','2015-02-12','2015-02-13',1,0,'nan'),\n(7,'P','y','y','y','n','2015-02-12','2015-02-13',0,0,'nan'),\n(5,'P','y','y','y','y','2015-02-12','2015-02-13',0,0,'nan'),\n(10,'P','y','y','y','y','2015-02-12','2015-02-13',0,0,'nan'),\n(28,'P','y','y','y','y','2015-02-12','2015-02-13',0,0,'nan'),\n(26,'P','y','y','y','y','2015-02-13','2015-02-19',0,1,'nan'),\n(15,'P','y','y','y','n','2015-02-13','2015-02-19',0,0,'nan'),\n(6,'P','y','y','y','y','2015-02-13','2015-02-19',0,0,'nan'),\n(18,'P','y','y','y','y','2015-02-13','2015-02-19',1,0,'nan'),\n(24,'P','y','y','y','n','2015-02-13','2015-02-19',0,2,'nan'),\n(1,'P','y','y','y','y','2015-02-13','2015-02-19',1,2,'nan'),\n(31,'P','y','y','y','n','2015-02-13','2015-02-19',2,1,'nan'),\n(5,'P','y','y','y','y','2015-02-13','2015-02-19',0,1,'nan'),\n(9,'P','y','y','y','y','2015-02-13','2015-02-19',0,0,'nan'),\n(20,'P','y','y','y','n','2015-02-13','2015-02-19',0,1,'nan'),\n(25,'P','y','y','y','n','2015-02-13','2015-02-19',1,0,'nan'),\n(2,'P','y','y','y','y','2015-02-13','2015-02-19',0,2,'nan'),\n(10,'P','y','y','y','y','2015-02-13','2015-02-19',0,1,'nan'),\n(4,'P','y','y','y','n','2015-02-13','2015-02-19',0,0,'nan'),\n(16,'P','y','y','y','n','2015-02-13','2015-02-19',0,0,'nan'),\n(19,'P','y','y','y','n','2015-02-13','2015-02-19',0,1,'nan'),\n(12,'P','y','y','y','n','2015-02-13','2015-02-19',1,1,'nan'),\n(30,'P','y','y','y','y','2015-02-13','2015-02-19',1,0,'nan'),\n(11,'P','y','y','y','n','2015-02-13','2015-02-19',1,0,'nan'),\n(8,'P','y','y','y','n','2015-02-13','2015-02-19',0,0,'nan'),\n(23,'P','y','y','y','n','2015-02-13','2015-02-19',4,1,'2744'),\n(7,'P','y','y','y','n','2015-02-13','2015-02-19',1,0,'nan'),\n(28,'P','y','y','y','y','2015-02-13','2015-02-19',0,0,'nan'),\n(27,'P','y','y','y','y','2015-02-13','2015-02-19',0,0,'nan'),\n(21,'P','y','y','y','y','2015-02-13','2015-02-19',0,0,'nan'),\n(17,'P','y','y','y','n','2015-02-13','2015-02-19',0,0,'nan'),\n(22,'P','y','y','y','n','2015-02-13','2015-02-19',0,6,'2743'),\n(3,'P','y','y','y','y','2015-02-13','2015-02-19',0,0,'nan'),\n(29,'P','y','y','y','n','2015-02-13','2015-02-19',0,1,'nan'),\n(13,'P','y','y','y','n','2015-02-13','2015-02-19',0,0,'nan'),\n(14,'P','y','y','y','y','2015-02-13','2015-02-19',3,0,'nan'),\n(21,'P','y','y','y','y','2015-02-19','2015-02-27',0,2,'2724'),\n(14,'P','y','y','y','y','2015-02-19','2015-02-27',2,1,'nan'),\n(31,'P','y','y','y','n','2015-02-19','2015-02-27',1,1,'nan'),\n(17,'P','y','y','y','n','2015-02-19','2015-02-27',0,0,'nan'),\n(18,'P','y','y','y','y','2015-02-19','2015-02-27',4,0,'nan'),\n(30,'P','y','y','y','y','2015-02-19','2015-02-27',1,0,'nan'),\n(15,'P','y','y','y','n','2015-02-19','2015-02-27',0,0,'nan'),\n(1,'P','y','y','y','y','2015-02-19','2015-02-27',3,2,'nan'),\n(26,'P','y','y','y','y','2015-02-19','2015-02-27',0,0,'nan'),\n(16,'P','y','y','y','n','2015-02-19','2015-02-27',0,1,'nan'),\n(8,'P','y','y','y','n','2015-02-19','2015-02-27',0,0,'nan'),\n(23,'P','y','y','y','n','2015-02-19','2015-02-27',3,2,'nan'),\n(2,'P','y','y','y','y','2015-02-19','2015-02-27',2,2,'nan'),\n(3,'P','y','y','y','y','2015-02-19','2015-02-27',0,2,'nan'),\n(5,'P','y','y','y','y','2015-02-19','2015-02-27',2,2,'nan'),\n(22,'P','y','y','y','n','2015-02-19','2015-02-27',0,1,'nan'),\n(12,'P','y','y','y','n','2015-02-19','2015-02-27',1,2,'nan'),\n(4,'P','y','y','y','n','2015-02-19','2015-02-27',0,0,'nan'),\n(28,'P','y','y','y','y','2015-02-19','2015-02-27',0,0,'nan'),\n(10,'P','y','y','y','y','2015-02-19','2015-02-27',0,0,'nan'),\n(19,'P','y','y','y','n','2015-02-19','2015-02-27',1,0,'nan'),\n(9,'P','y','y','y','y','2015-02-19','2015-02-27',1,1,'nan'),\n(24,'P','y','y','y','n','2015-02-19','2015-02-27',2,0,'nan'),\n(27,'P','y','y','y','y','2015-02-19','2015-02-27',0,0,'nan'),\n(11,'P','y','y','y','n','2015-02-19','2015-02-27',1,1,'nan'),\n(6,'P','y','y','y','y','2015-02-19','2015-02-27',4,0,'nan'),\n(20,'P','y','y','y','n','2015-02-19','2015-02-27',0,0,'nan'),\n(29,'P','y','y','y','n','2015-02-19','2015-02-27',0,2,'nan'),\n(25,'P','y','y','y','n','2015-02-19','2015-02-27',1,1,'nan'),\n(7,'P','y','y','y','n','2015-02-19','2015-02-27',3,2,'nan'),\n(13,'P','y','y','y','n','2015-02-19','2015-02-27',0,1,'nan'),\n(17,'P','y','y','y','n','2015-02-27','2015-03-05',0,0,'nan'),\n(21,'P','y','y','y','y','2015-02-27','2015-03-05',0,0,'nan'),\n(31,'P','y','y','y','n','2015-02-27','2015-03-05',0,1,'nan'),\n(23,'P','y','y','y','n','2015-02-27','2015-03-05',0,0,'nan'),\n(16,'P','y','y','y','n','2015-02-27','2015-03-05',0,1,'nan'),\n(24,'P','y','y','y','n','2015-02-27','2015-03-05',1,1,'nan'),\n(26,'P','y','y','y','y','2015-02-27','2015-03-05',0,1,'nan'),\n(19,'P','y','y','y','n','2015-02-27','2015-03-05',0,0,'nan'),\n(2,'P','y','y','y','y','2015-02-27','2015-03-05',0,0,'nan'),\n(18,'P','y','y','y','y','2015-02-27','2015-03-05',0,1,'nan'),\n(4,'P','y','y','y','n','2015-02-27','2015-03-05',0,0,'nan'),\n(11,'P','y','y','y','n','2015-02-27','2015-03-05',0,0,'nan'),\n(20,'P','y','y','y','n','2015-02-27','2015-03-05',0,0,'nan'),\n(29,'P','y','y','y','n','2015-02-27','2015-03-05',0,1,'nan'),\n(12,'P','y','y','y','n','2015-02-27','2015-03-05',1,0,'nan'),\n(3,'P','y','y','y','y','2015-02-27','2015-03-05',1,2,'nan'),\n(28,'P','y','y','y','y','2015-02-27','2015-03-05',0,0,'nan'),\n(8,'P','y','y','y','n','2015-02-27','2015-03-05',1,0,'nan'),\n(6,'P','y','y','y','y','2015-02-27','2015-03-05',3,1,'nan'),\n(9,'P','y','y','y','y','2015-02-27','2015-03-05',0,0,'nan'),\n(7,'P','y','y','y','n','2015-02-27','2015-03-05',0,1,'nan'),\n(1,'P','y','y','y','y','2015-02-27','2015-03-05',0,0,'nan'),\n(5,'P','y','y','y','y','2015-02-27','2015-03-05',0,0,'nan'),\n(10,'P','y','y','y','y','2015-02-27','2015-03-05',0,0,'nan'),\n(30,'P','y','y','y','y','2015-02-27','2015-03-05',0,1,'nan'),\n(13,'P','y','y','y','n','2015-02-27','2015-03-05',0,2,'nan'),\n(14,'P','y','y','y','y','2015-02-27','2015-03-05',0,0,'nan'),\n(25,'P','y','y','y','n','2015-02-27','2015-03-05',0,1,'nan'),\n(15,'P','y','y','y','n','2015-02-27','2015-03-05',0,1,'nan'),\n(27,'P','y','y','y','y','2015-02-27','2015-03-05',0,0,'nan'),\n(22,'P','y','y','y','n','2015-02-27','2015-03-05',1,1,'nan'),\n(2,'P','y','y','y','y','2015-03-05','2015-03-12',0,3,'nan'),\n(9,'P','y','y','y','y','2015-03-05','2015-03-12',0,0,'nan'),\n(18,'P','y','y','y','y','2015-03-05','2015-03-12',0,0,'nan'),\n(28,'P','y','y','y','y','2015-03-05','2015-03-12',0,0,'nan'),\n(1,'P','y','y','y','y','2015-03-05','2015-03-12',1,0,'nan'),\n(5,'P','y','y','y','y','2015-03-05','2015-03-12',1,1,'nan'),\n(17,'P','y','y','y','n','2015-03-05','2015-03-12',0,0,'nan'),\n(12,'P','y','y','y','n','2015-03-05','2015-03-12',2,1,'2750, 2822'),\n(15,'P','y','y','y','n','2015-03-05','2015-03-12',1,0,'nan'),\n(10,'P','y','y','y','y','2015-03-05','2015-03-12',1,1,'nan'),\n(21,'P','y','y','y','y','2015-03-05','2015-03-12',1,0,'nan'),\n(3,'P','y','y','y','y','2015-03-05','2015-03-12',0,1,'nan'),\n(13,'P','y','y','y','n','2015-03-05','2015-03-12',2,0,'nan'),\n(31,'P','y','y','y','n','2015-03-05','2015-03-12',2,3,'nan'),\n(25,'P','y','y','y','n','2015-03-05','2015-03-12',0,0,'nan'),\n(30,'P','y','y','y','y','2015-03-05','2015-03-12',0,1,'nan'),\n(16,'P','y','y','y','n','2015-03-05','2015-03-12',0,0,'nan'),\n(24,'P','y','y','y','n','2015-03-05','2015-03-12',0,0,'nan'),\n(4,'P','y','y','y','n','2015-03-05','2015-03-12',0,0,'nan'),\n(11,'P','y','y','y','n','2015-03-05','2015-03-12',0,0,'nan'),\n(6,'P','y','y','y','y','2015-03-05','2015-03-12',2,2,'nan'),\n(20,'P','y','y','y','n','2015-03-05','2015-03-12',0,0,'nan'),\n(8,'P','y','y','y','n','2015-03-05','2015-03-12',0,0,'nan'),\n(26,'P','y','y','y','y','2015-03-05','2015-03-12',0,0,'nan'),\n(27,'P','y','y','y','y','2015-03-05','2015-03-12',0,0,'nan'),\n(23,'P','y','y','y','n','2015-03-05','2015-03-12',0,2,'nan'),\n(29,'P','y','y','y','n','2015-03-05','2015-03-12',1,1,'nan'),\n(19,'P','y','y','y','n','2015-03-05','2015-03-12',0,0,'nan'),\n(14,'P','y','y','y','y','2015-03-05','2015-03-12',0,1,'nan'),\n(22,'P','y','y','y','n','2015-03-05','2015-03-12',2,0,'nan'),\n(7,'P','y','y','y','n','2015-03-05','2015-03-12',3,1,'nan'),\n(15,'P','y','y','y','n','2015-03-12','2015-03-19',0,0,'nan'),\n(12,'P','y','y','y','n','2015-03-12','2015-03-19',0,1,'nan'),\n(28,'P','y','y','y','y','2015-03-12','2015-03-19',0,0,'nan'),\n(13,'P','y','y','y','n','2015-03-12','2015-03-19',1,0,'nan'),\n(20,'P','y','y','y','n','2015-03-12','2015-03-19',0,0,'nan'),\n(3,'P','y','y','y','y','2015-03-12','2015-03-19',2,0,'nan'),\n(23,'P','y','y','y','n','2015-03-12','2015-03-19',0,1,'nan'),\n(18,'P','y','y','y','y','2015-03-12','2015-03-19',1,1,'nan'),\n(16,'P','y','y','y','n','2015-03-12','2015-03-19',0,0,'nan'),\n(14,'P','y','y','y','y','2015-03-12','2015-03-19',0,1,'nan'),\n(25,'P','y','y','y','n','2015-03-12','2015-03-19',1,1,'2777, 2885'),\n(2,'P','y','y','y','y','2015-03-12','2015-03-19',0,1,'nan'),\n(10,'P','y','y','y','y','2015-03-12','2015-03-19',0,1,'nan'),\n(1,'P','y','y','y','y','2015-03-12','2015-03-19',1,1,'nan'),\n(8,'P','y','y','y','n','2015-03-12','2015-03-19',0,0,'nan'),\n(7,'P','y','y','y','n','2015-03-12','2015-03-19',2,1,'nan'),\n(5,'P','y','y','y','y','2015-03-12','2015-03-19',2,1,'nan'),\n(26,'P','y','y','y','y','2015-03-12','2015-03-19',1,0,'nan'),\n(6,'P','y','y','y','y','2015-03-12','2015-03-19',1,0,'nan'),\n(19,'P','y','y','y','n','2015-03-12','2015-03-19',0,1,'nan'),\n(9,'P','y','y','y','y','2015-03-12','2015-03-19',0,0,'nan'),\n(4,'P','y','y','y','n','2015-03-12','2015-03-19',2,0,'nan'),\n(21,'P','y','y','y','y','2015-03-12','2015-03-19',1,1,'2889'),\n(30,'P','y','y','y','y','2015-03-12','2015-03-19',0,1,'2773'),\n(31,'P','y','y','y','n','2015-03-12','2015-03-19',2,2,'nan'),\n(22,'P','y','y','y','n','2015-03-12','2015-03-19',2,3,'2796'),\n(24,'P','y','y','y','n','2015-03-12','2015-03-19',2,0,'nan'),\n(29,'P','y','y','y','n','2015-03-12','2015-03-19',1,1,'nan'),\n(17,'P','y','y','y','n','2015-03-12','2015-03-19',0,0,'nan'),\n(27,'P','y','y','y','y','2015-03-12','2015-03-19',0,0,'nan'),\n(11,'P','y','y','y','n','2015-03-12','2015-03-19',0,0,'nan'),\n(19,'P','y','y','y','n','2015-03-19','2015-04-02',0,1,'nan'),\n(8,'P','y','y','y','n','2015-03-19','2015-04-02',0,0,'nan'),\n(12,'P','y','y','y','n','2015-03-19','2015-04-02',3,2,'nan'),\n(15,'P','y','y','y','n','2015-03-19','2015-04-02',1,1,'nan'),\n(28,'P','y','y','y','y','2015-03-19','2015-04-02',1,0,'nan'),\n(10,'P','y','y','y','y','2015-03-19','2015-04-02',0,1,'nan'),\n(1,'P','y','y','y','y','2015-03-19','2015-04-02',2,3,'nan'),\n(26,'P','y','y','y','y','2015-03-19','2015-04-02',0,0,'nan'),\n(2,'P','y','y','y','y','2015-03-19','2015-04-02',4,1,'nan'),\n(7,'P','y','y','y','n','2015-03-19','2015-04-02',1,2,'nan'),\n(11,'P','y','y','y','n','2015-03-19','2015-04-02',2,0,'nan'),\n(30,'P','y','y','y','y','2015-03-19','2015-04-02',2,1,'2838'),\n(24,'P','y','y','y','n','2015-03-19','2015-04-02',2,1,'nan'),\n(22,'P','y','y','y','n','2015-03-19','2015-04-02',0,4,'nan'),\n(14,'P','y','y','y','y','2015-03-19','2015-04-02',2,0,'nan'),\n(9,'P','y','y','y','y','2015-03-19','2015-04-02',0,0,'nan'),\n(13,'P','y','y','y','n','2015-03-19','2015-04-02',3,0,'nan'),\n(29,'P','y','y','y','n','2015-03-19','2015-04-02',1,2,'nan'),\n(4,'P','y','y','y','n','2015-03-19','2015-04-02',0,0,'nan'),\n(5,'P','y','y','y','y','2015-03-19','2015-04-02',4,1,'nan'),\n(16,'P','y','y','y','n','2015-03-19','2015-04-02',0,0,'nan'),\n(18,'P','y','y','y','y','2015-03-19','2015-04-02',1,2,'nan'),\n(27,'P','y','y','y','y','2015-03-19','2015-04-02',1,1,'nan'),\n(25,'P','y','y','y','n','2015-03-19','2015-04-02',2,5,'2786'),\n(23,'P','y','y','y','n','2015-03-19','2015-04-02',1,1,'nan'),\n(3,'P','y','y','y','y','2015-03-19','2015-04-02',1,3,'nan'),\n(20,'P','y','y','y','n','2015-03-19','2015-04-02',0,1,'nan'),\n(17,'P','y','y','y','n','2015-03-19','2015-04-02',0,0,'nan'),\n(31,'P','y','y','y','n','2015-03-19','2015-04-02',0,0,'nan'),\n(6,'P','y','y','y','y','2015-03-19','2015-04-02',0,0,'nan'),\n(21,'P','y','y','y','y','2015-03-19','2015-04-02',2,2,'nan'),\n(30,'P','y','y','y','y','2015-04-02','2015-04-09',0,1,'nan'),\n(29,'P','y','y','y','n','2015-04-02','2015-04-09',1,4,'nan'),\n(27,'P','y','y','y','y','2015-04-02','2015-04-09',1,0,'nan'),\n(18,'P','y','y','y','y','2015-04-02','2015-04-09',0,2,'nan'),\n(4,'P','y','y','y','n','2015-04-02','2015-04-09',0,0,'nan'),\n(26,'P','y','y','y','y','2015-04-02','2015-04-09',0,0,'nan'),\n(25,'P','y','y','y','n','2015-04-02','2015-04-09',1,1,'nan'),\n(2,'P','y','y','y','y','2015-04-02','2015-04-09',0,2,'nan'),\n(31,'P','y','y','y','n','2015-04-02','2015-04-09',0,1,'nan'),\n(17,'P','y','y','y','n','2015-04-02','2015-04-09',0,0,'nan'),\n(10,'P','y','y','y','y','2015-04-02','2015-04-09',0,0,'nan'),\n(24,'P','y','y','y','n','2015-04-02','2015-04-09',0,1,'nan'),\n(8,'P','y','y','y','n','2015-04-02','2015-04-09',0,0,'nan'),\n(23,'P','y','y','y','n','2015-04-02','2015-04-09',0,1,'nan'),\n(21,'P','y','y','y','y','2015-04-02','2015-04-09',0,3,'2888'),\n(13,'P','y','y','y','n','2015-04-02','2015-04-09',0,2,'nan'),\n(22,'P','y','y','y','n','2015-04-02','2015-04-09',2,3,'nan'),\n(16,'P','y','y','y','n','2015-04-02','2015-04-09',0,0,'nan'),\n(20,'P','y','y','y','n','2015-04-02','2015-04-09',0,0,'nan'),\n(19,'P','y','y','y','n','2015-04-02','2015-04-09',2,2,'2717'),\n(14,'P','y','y','y','y','2015-04-02','2015-04-09',0,1,'nan'),\n(6,'P','y','y','y','y','2015-04-02','2015-04-09',0,0,'nan'),\n(11,'P','y','y','y','n','2015-04-02','2015-04-09',2,0,'2859'),\n(1,'P','y','y','y','y','2015-04-02','2015-04-09',0,0,'nan'),\n(15,'P','y','y','y','n','2015-04-02','2015-04-09',0,0,'nan'),\n(3,'P','y','y','y','y','2015-04-02','2015-04-09',1,2,'nan'),\n(12,'P','y','y','y','n','2015-04-02','2015-04-09',0,0,'nan'),\n(5,'P','y','y','y','y','2015-04-02','2015-04-09',2,2,'nan'),\n(7,'P','y','y','y','n','2015-04-02','2015-04-09',0,0,'nan'),\n(28,'P','y','y','y','y','2015-04-02','2015-04-09',0,0,'nan'),\n(12,'P','y','y','y','n','2015-04-09','2015-04-17',4,4,'nan'),\n(9,'P','y','y','y','y','2015-04-09','2015-04-17',0,3,'nan'),\n(1,'P','y','y','y','y','2015-04-09','2015-04-17',0,0,'nan'),\n(14,'P','y','y','y','y','2015-04-09','2015-04-17',0,0,'nan'),\n(30,'P','y','y','y','y','2015-04-09','2015-04-17',1,0,'nan'),\n(11,'P','y','y','y','n','2015-04-09','2015-04-17',1,1,'nan'),\n(4,'P','y','y','y','n','2015-04-09','2015-04-17',0,1,'nan'),\n(7,'P','y','y','y','n','2015-04-09','2015-04-17',0,0,'nan'),\n(17,'P','y','y','y','n','2015-04-09','2015-04-17',0,0,'nan'),\n(2,'P','y','y','y','y','2015-04-09','2015-04-17',1,3,'nan'),\n(31,'P','y','y','y','n','2015-04-09','2015-04-17',1,1,'nan'),\n(22,'P','y','y','y','n','2015-04-09','2015-04-17',1,2,'nan'),\n(28,'P','y','y','y','y','2015-04-09','2015-04-17',0,0,'nan'),\n(27,'P','y','y','y','y','2015-04-09','2015-04-17',0,0,'nan'),\n(20,'P','y','y','y','n','2015-04-09','2015-04-17',0,0,'nan'),\n(19,'P','y','y','y','n','2015-04-09','2015-04-17',0,1,'nan'),\n(29,'P','y','y','y','n','2015-04-09','2015-04-17',1,3,'nan'),\n(6,'P','y','y','y','y','2015-04-09','2015-04-17',1,0,'nan'),\n(24,'P','y','y','y','n','2015-04-09','2015-04-17',1,1,'nan'),\n(25,'P','y','y','y','n','2015-04-09','2015-04-17',3,2,'nan'),\n(16,'P','y','y','y','n','2015-04-09','2015-04-17',0,0,'nan'),\n(8,'P','y','y','y','n','2015-04-09','2015-04-17',0,1,'nan'),\n(15,'P','y','y','y','n','2015-04-09','2015-04-17',0,0,'nan'),\n(21,'P','y','y','y','y','2015-04-09','2015-04-17',1,0,'nan'),\n(23,'P','y','y','y','n','2015-04-09','2015-04-17',1,0,'nan'),\n(26,'P','y','y','y','y','2015-04-09','2015-04-17',0,0,'nan'),\n(10,'P','y','y','y','y','2015-04-09','2015-04-17',0,1,'nan'),\n(18,'P','y','y','y','y','2015-04-09','2015-04-17',0,1,'nan'),\n(5,'P','y','y','y','y','2015-04-09','2015-04-17',0,2,'nan'),\n(3,'P','y','y','y','y','2015-04-09','2015-04-17',1,2,'nan'),\n(13,'P','y','y','y','n','2015-04-09','2015-04-17',0,0,'nan'),\n(26,'P','y','y','y','y','2015-04-17','2015-04-24',1,1,'nan'),\n(29,'P','y','y','y','n','2015-04-17','2015-04-24',0,0,'nan'),\n(31,'P','y','y','y','n','2015-04-17','2015-04-24',2,2,'nan'),\n(22,'P','y','y','y','n','2015-04-17','2015-04-24',1,0,'nan'),\n(6,'P','y','y','y','y','2015-04-17','2015-04-24',0,0,'nan'),\n(7,'P','y','y','y','n','2015-04-17','2015-04-24',0,0,'nan'),\n(9,'P','y','y','y','y','2015-04-17','2015-04-24',0,2,'2911'),\n(3,'P','y','y','y','y','2015-04-17','2015-04-24',2,0,'nan'),\n(23,'P','y','y','y','n','2015-04-17','2015-04-24',0,0,'nan'),\n(12,'P','y','y','y','n','2015-04-17','2015-04-24',1,1,'nan'),\n(15,'P','y','y','y','n','2015-04-17','2015-04-24',1,1,'nan'),\n(18,'P','y','y','y','y','2015-04-17','2015-04-24',1,1,'nan'),\n(19,'P','y','y','y','n','20